modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
STRIPE_PRICE_PARSEPILOT_PRO = "price_1TGQ1kJTOaZlsJyqEAsLuZcf"
STRIPE_PRICE_PARSEPILOT_SINGLE_UNLOCK = "price_1TGQ34JTOaZlsJyq2Bou5X3v"
STRIPE_PRICE_PARSEPILOT_BULK_10 = "price_1TGQ4AJTOaZlsJyq1hfXZvKw"
STRIPE_PRICE_PARSEPILOT_BULK_25 = "price_1TGQ4zJTOaZlsJyqNnwuiBpf"
STRIPE_PRICE_PARSEPILOT_BULK_50 = "price_1TGQ5hJTOaZlsJyqEaWSNLbU"
VITE_CLERK_PUBLISHABLE_KEY = "pk_test_Y2l2aWwtc2hhZC05Mi5jbGVyay5hY2NvdW50cy5kZXYk"
CLERK_JWT_KEY = """
-----BEGIN PUBLIC KEY-----
  MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvIoKE+llWv2SIsZR9ZSu
  DFEvOuhqwh3i4nSCICewMik7VE9u2AI9I+KKMx8XnDEoJIEQXsdJtkywGd8TWuVk
  fhPnTaggYXomjBiiWl5qsrZIhgOB1z1sQwTNDhKnOAWJBzJnDTqxVF1MuN5ezjKl
  fAko4rBemRKiTaTiTkSP97jG2L9W2EfCenHBpLI+x705sSFbaNPIjq6HEuIkbxim
  cqSsSWXEZImkK0yhoTiwWbzByVJvzL6sNykKKAOEeO0HdhgVPef63jheojUPyczN
  3QUfsc9BnoXj2B174Fa0o7HenbJ3D7XJa8q6FJC6LiSlw5npwzxc5LnDhvNVsccM
  FQIDAQAB
  -----END PUBLIC KEY-----"""
