modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
STRIPE_PRICE_PARSEPILOT_PRO = "price_1TGczkFjcawCcmzpeBtBcXZZ"
STRIPE_PRICE_PARSEPILOT_SINGLE_UNLOCK = "price_1TGd0PFjcawCcmzp4RiakcE6"
STRIPE_PRICE_PARSEPILOT_BULK_10 = "price_1TGd1CFjcawCcmzpCUfvOHh1"
STRIPE_PRICE_PARSEPILOT_BULK_25 = "price_1TGd1kFjcawCcmzp4HblPklk"
STRIPE_PRICE_PARSEPILOT_BULK_50 = "price_1TGd2FFjcawCcmzpklg3byWE"
VITE_CLERK_PUBLISHABLE_KEY = "pk_live_Y2xlcmsucGFyc2VwaWxvdC5pbyQ"
CLERK_JWT_KEY = """
-----BEGIN PUBLIC KEY-----
  MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA2NVwcnuD5/vr+dKj/x/9
  EOpB7kqSLp2au1fHpNkhXV3qIGbNU0z85C9S5ift5uSEb3msj937ikkc0UNf84W0
  qw1IKRngu4TVGwHja5AaG0VByvxhmXYY0ZM025H3Pl2ybCafsHR1hE8KbJUi+rTy
  PDsurHdOBo4AtRod/XK7OxYOf2dijEn1m6v+sHktNAlme93/sW80qbsGj4s31rC1
  2pD8rxRI0nIXQhCTyEK0U5qfC7pk7y3uEU68srdOmjsvAZ5WtixD2JcagfELXV3i
  Tv7VlOUnobzcpBljAoMovUSnSSyaXl9JKCGuZ+RdGEGrKfif59FiFnF0e5vTDFBD
  YwIDAQAB
  -----END PUBLIC KEY-----"""
CLERK_PUBLISHABLE_KEY = "pk_live_Y2xlcmsucGFyc2VwaWxvdC5pbyQ"
